<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Player Wins: <%= @game.playerwins %>&emsp;
  Rounds: <%= @game.rounds %>&emsp;
  Computer Wins: <%= @game.computerwins %><br>

  <script>
  (function() {
    if( window.localStorage ) {
      if ( !localStorage.getItem( 'firstLoad' ) ) {
        localStorage[ 'firstLoad' ] = true;
        window.location.reload();
      } else
      localStorage.removeItem( 'firstLoad' );
    }
  })();

  var innerrounds = 0;
  var playerRounds = 0;
  var computerRounds = 0;

  function toggleButtons(mode) {
    if (mode == 0) {
      document.getElementById("choicebutton0").style.visibility="hidden";
      document.getElementById("choicebutton1").style.visibility="hidden";
      document.getElementById("choicebutton2").style.visibility="hidden";
      document.getElementById("endmenubutton0").style.visibility="hidden";
      document.getElementById("endmenubutton1").style.visibility="hidden";
    } else if (mode == 1) {
      document.getElementById("continuestart").remove();
      document.getElementById("choicebutton0").style.visibility="visible";
      document.getElementById("choicebutton1").style.visibility="visible";
      document.getElementById("choicebutton2").style.visibility="visible";
      document.getElementById("innerrounds").innerHTML = innerrounds
      document.getElementById("playerrounds").innerHTML = playerRounds
      document.getElementById("computerrounds").innerHTML = computerRounds
    }
  }

  function engine(playerChoice) {
    var playerwins = <%= @game.playerwins %>;
    var computerwins = <%= @game.computerwins %>;
    var rounds = <%= @game.rounds %>;
    var computerChoice =  Math.round((Math.random() * 3) + 0);

    if (playerChoice == 0 && computerChoice == 0) {
      message = "You chose Rock; Computer chose Rock\nTie";
    } else if (playerChoice == 0 && computerChoice == 1) {
      message = "You chose Rock; Computer chose Paper\nComputer wins 1 point";
      computerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 0 && computerChoice == 2) {
      message = "You chose Rock; Computer chose Scissors\nYou win 1 point";
      playerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 1 && computerChoice == 0) {
      message = "You chose Paper; Computer chose Rock\nYou win 1 point";
      playerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 1 && computerChoice == 1) {
      message = "You chose Paper; Computer chose Paper\nTie";
    } else if (playerChoice == 1 && computerChoice == 2) {
      message = "You chose Paper; Computer chose Scissors\nComputer wins 1 point";
      computerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 2 && computerChoice == 0) {
      message = "You chose Scissors; Computer chose Rock\nComputer wins 1 point";
      computerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 2 && computerChoice == 1) {
      message = "You chose Scissors; Computer chose Paper\nYou win 1 point";
      playerRounds += 1;
      innerrounds += 1;
    } else if (playerChoice == 2 && computerChoice == 2) {
      message = "You chose Scissors; Computer chose Scissors\nTie";
    } else if (playerChoice == "start") {
      message = ""
    }
    document.getElementById("outcomemessage").innerHTML = message
    document.getElementById("playerrounds").innerHTML = playerRounds
    document.getElementById("computerrounds").innerHTML = computerRounds

    if (playerRounds == 2) {
      document.getElementById("endroundmessage").innerHTML = "You win!";
      document.getElementById("choicebutton0").remove();
      document.getElementById("choicebutton1").remove();
      document.getElementById("choicebutton2").remove();
      document.getElementById("endmenubutton0").style.visibility="visible";
      document.getElementById("endmenubutton1").style.visibility="visible";
      playerwins += 1;
      rounds += 1;
    } else if (computerRounds == 2) {
      document.getElementById("endroundmessage").innerHTML = "Computer wins!";
      document.getElementById("choicebutton0").remove();
      document.getElementById("choicebutton1").remove();
      document.getElementById("choicebutton2").remove();
      document.getElementById("endmenubutton0").style.visibility="visible";
      document.getElementById("endmenubutton1").style.visibility="visible";
      computerwins += 1;
      rounds += 1;
    } else {
      document.getElementById("endroundmessage").innerHTML =  "You are challenging Computer"
      document.getElementById("endmenubutton0").style.visibility="hidden";
      document.getElementById("endmenubutton1").style.visibility="hidden";
    }
  }
  </script>
  <body onload="toggleButtons(0)"></body>

  <h2><span id="endroundmessage"></span></h2>

  <div>Player: <span id="playerrounds"></span>&emsp;Computer: <span id="computerrounds"></span></div>

  <span id="outcomemessage"></span><br>
  <span id="rounds"></span><br>

  <input id="continuestart" type="button" onclick="toggleButtons(1);engine(start)" value="Start">

  <input id="choicebutton0" type="button" onclick="engine(0)" value="Rock">
  <input id="choicebutton1" type="button" onclick="engine(1)" value="Paper">
  <input id="choicebutton2" type="button" onclick="engine(2)" value="Scissors">

  <input id="endmenubutton0" type="button" onclick="location.reload()" value="Retry">
  <input id="endmenubutton1" type="submit" value="Exit">

  <p>
    <%= form.label :rounds %>
    <%= form.text_field :rounds %>
  </p>

  <p>
    <%= form.label :playerwins %>
    <%= form.text_field :playerwins %>
  </p>

  <p>
    <%= form.label :computerwins %>
    <%= form.text_field :computerwins %>
  </p>

<% end %>
