<p id="notice"><%= notice %></p>

<h1>Welcome to RPS V1</h1>

<table>
  <thead>
    <tr>
      <th>Save |</th>
      <th>Rounds |</th>
      <th>Player Wins |</th>
      <th>Computer Wins</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% number = 0 %>
    <% @games.each do |game| %>
      <tr>
        <td><%= number; number += 1 %>.</td>
        <td><%= game.rounds %></td>
        <td><%= game.playerwins %></td>
        <td><%= game.computerwins %></td>
        <td><%= link_to 'Load', edit_game_path(game) %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure you want to delete this save?' + "\nPlayer Wins: #{game.playerwins}\tRounds: #{game.rounds}\tComputer Wins: #{game.computerwins}" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
